{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mainprofile/css/mainProfile.css' %}">
    
    <title>
        {% block title %} {% endblock %}
    </title>

    {% block styles %} {% endblock %}
</head>

<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><a style="text-decoration: none; color:black;" href="/mainprofile/">Profile Manager</a></div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{%url 'details' %}">Basic Details</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{%url 'education' %}">Education</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{%url 'experience' %}">Experience</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{%url 'skills' %}">Skills</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{%url 'projects' %}">Projects</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{%url 'awards' %}">Honors/Awards</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{%url 'publications' %}">Publications</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{%url 'scholarships' %}">Scholarships</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{%url 'activities' %}">Other Activities</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{%url 'links' %}">Links</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                            <li class="nav-item"><a class="nav-link " href="{% url 'logout' %} ">LogOut</a></li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#!">Action</a>
                                    <a class="dropdown-item" href="#!">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#!">Something else here</a>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="page-details" style="overflow-y: scroll; height: 100vh;" >
                {% block content %} {% endblock %}
            </div>
            
        </div>
    </div>

    {% block scripts %}{% endblock %}
    <script>
        function del(id) {
            let text;
            if (confirm("Are you sure you want to delete ? ") == true) {
                document.getElementById("error-message").innerHTML = id;
                let csrf_token = getCookie('csrftoken');  // Get the value of the CSRF token from the cookie
                document.getElementById("error-message").innerHTML = 0;
                fetch('/profile/experience/', {
                    method: 'POST',
                    body: JSON.stringify({
                        'id': id
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrf_token
                    },
                }).then(response => response.json())
                    .then(data => {
                        console.log(data);
                        location.reload();
                    });
                text = "You pressed OK!";
            } else {
                text = "You canceled!";
            }
            document.getElementById("error-message").innerHTML = text;
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
    <script>
        const form = document.getElementsByClassName('form-outline');
        const inputs = document.querySelectorAll('.form-group div input');
        const labels = document.querySelectorAll('.form-group label');
        for (const input of inputs) {
            input.required = true;
        }
        for (const input of labels) {
            input.classList.add("requiredField");
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'mainprofile/js/mainProfile.js' %}"></script>
</body>

</html>