{% extends "base/homeBase.html" %}
{% load crispy_forms_tags %}
{% block title %} Experience {% endblock title %}
{% block content %}
<!-- <container style="display: flex;"> -->

<div class="jumbotron">
    <div class="d-flex justify-content-between ">
        <a class="btn btn-success my-2" href="{%url 'experience' %}">Back</a>
        <h1>Update Experience</h1>
    </div>
</div>

<div class="card py-5">
    <div class="d-flex align-items-center  text-black card border-0 rounded-3">
        <div class="card-body p-sm-1 mx-sm-1 p-md-5 border border-dark col-lg-6 col-sm-12">
                <form id="my-form" method="post">
                    <div class="form-outline mb-4">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <label class="form-label">Certificate Name</label>
                            <input type="file" class="form-control" name="certificate" placeholder="Certificate" required/>
                     </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div> 




{% endblock%}

<!-- {% block scripts %}

{% endblock %} -->


<!-- <form action="#">
    <div class="form-outline mb-4">
        <label class="form-label">Roll Number</label>
        <input {% if form.roll %} value={{form.roll}} {% endif %} type="text" name="roll" class="form-control"
            placeholder="Roll Number" />
    </div>
    <div class="form-outline mb-4">
        <label class="form-label">Name of the student</label>
        <input {% if form.fullname %} value={{form.fullname}} {% endif %} type="text" name="name" class="form-control"
            placeholder="name" />
    </div>
    <div class="form-outline mb-4">
        <label class="form-label">Name of the employee with contact details</label>
        <input {% if form.phone %} value={{form.phone}} {% endif %} type="tel" name="phone"
            class="form-control form-control" pattern="[0-9]{10}" placeholder="phone number" />
    </div>
    <div class="form-outline mb-4">
        <label class="form-label">Pay Package at the time of appointment</label>
        <input {% if form.package %} value={{form.package}} {% endif %} type="number" name="package"
            class="form-control" placeholder="package" />
    </div>
    <div class="form-outline mb-4">
        <label class="form-label">ON/OFF</label>
        <input {% if form.of %} value={{form.of}} {% endif %} type="text" name="of" class="form-control"
            placeholder="on-campus" />
    </div>
    <div class="text-center pt-1 mb-5 pb-1">
        <button class="btn btn-light btn-block fa-lg  mb-3 btn-outline-primary" type="submit">Submit</button>
    </div>
</form> -->