{%extends "base/base.html"%}
{%block title%}Details{%endblock title%}
{%block content%}
<div class="container py-5">
    <div class="d-flex align-items-center gradient-design text-black card border-0 rounded-3">
        <div class="card-body p-md-5 mx-md-4 border border-dark w-50">
            <form method="post" action="{% url 'details' %}">{% csrf_token %}
                <div class="form-outline mb-4">
                    <label class="form-label">Full Name</label>
                        <input {% if form.fullname %} value={{form.fullname}} {% endif %} type="text" name="fullname" class="form-control"
                        placeholder="Full Name" />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label">Roll Number</label>
                        <input disabled {% if form.roll %} value={{form.roll}} {% endif %} type="text" name="roll" class="form-control"
                            placeholder="Roll Number" />
                        </div>
                        <div class="form-outline mb-4">
                        <label class="form-label">Email</label>

                        <input disabled {% if form.email %} value={{form.email}} {% endif %} type="email" name="email" class="form-control"
                            placeholder="email@gmail.com" />

                        </div>                                       
                        <div class="form-group">
                            <label>Department</label>
                            <select class="form-control" name="department" disabled {% if form.department %} value={{form.department}} {% endif %}>
                            <option value="cse">CSE</option>
                            <option value="ece">ECE</option>
                            <option value="eee">EEE</option>
                            <option value="mech">MECH</option>
                            <option value="civil">CIVIL</option>
                            <option value="met">MET</option>
                            <option value="it">IT</option>
                            </select>
                        </div>
                            <div class="form-outline mb-4">
                            <label class="form-label">Phone Number</label>
                            <input {% if form.phone %} value={{form.phone}} {% endif %} type="tel" name="phone" class="form-control form-control" pattern="[0-9]{10}" placeholder="phone number" /> 
                            </div>
                            <div class="text-center pt-1 mb-5 pb-1">
                            <button class="btn btn-light btn-block fa-lg gradient-design mb-3 btn-outline-success" type="submit">Save</button>       
                        </div>
            </form>
        </div>
    </div>
</div>
{%endblock content%}
