{% extends "base/base.html" %}
{% block title %} Profile {% endblock title %}
{% block content %}
<div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn btn-white" name="sys" href="{%url 'home'%}" role="button">Back</a> 
            <h1 class="p1">Profile</h1>
        </div>   
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        {% csrf_token %}
        <a class="btn btn-primary" name="sys" href="{%url 'details'%}" role="button">Details</a>
        <a class="btn btn-primary" name="sys" href="{%url 'placement'%}" role="button">Placement</a>
        <a class="btn btn-primary" name="sys" href="{%url 'highereducation' %}" role="button">Higher Education</a>
        <button>List of Entrepreneur Details</button>
        <button>Details of Student Publications</button>
        <button>Curricular activities/sports/cultural activities/extra co-curricular activities</button>
        <button>Scholarship</button>
        <button>Skill enhance</button>
    </div>
</div>
{% endblock content %}