{% extends "base/homeBase.html" %}
{% block title %}
changepassword
{% endblock %}
{% block content %}

<div class="container h-75">
    <div class="row h-100 justify-content-center align-items-center ">
        <div class="col-sm-4">
            <form method="post" action="{%url 'changepassword' %}">
            {% csrf_token %}
            <label>Current</label>
            <div class="form-group pass_show">
                <input type="password" name="cpassword" class="form-control" placeholder="Current Password">
            </div>
            <label>New</label>
            <div class="form-group pass_show">
                <input type="password" name="c1password" class="form-control" placeholder="New Password">
            </div>
            <label>Confirm</label>
            <div class="form-group pass_show">
                <input type="password" name="c2password" class="form-control" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-light btn-block fa-lg mb-3 btn-outline-success" >Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}