<!DOCTYPE html>

<html lang="en-us" dir="ltr">

<head>
    <title>Log in | Django site admin</title>
    <link rel="stylesheet" href="/static/admin/css/base.css">

    <link rel="stylesheet" href="/static/admin/css/dark_mode.css">


    <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
    <script src="/static/admin/js/nav_sidebar.js" defer></script>

    <link rel="stylesheet" href="/static/admin/css/login.css">





    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">


    <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" login" data-admin-utc-offset="0">

    <a class="btn btn-outline-danger" name="sys" href="{%url 'login'%}" role="button">back</a>
    <!-- Container -->
    <div id="container">


        <!-- Header -->

        <div id="header">
            <div id="branding">

                <h1 id="site-name"><a href="/admin/">Admin Confirm</a></h1>

            </div>


        </div>

        <!-- END Header -->



        <div class="main" id="main">



            <div class="content">



                <!-- Content -->
                <div id="content" class="colM">








                    <div id="content-main">



                        <form action="{%url 'adminsignup' %}" method="post" id="login-form">
                            {% csrf_token %}
                            <div class="form-row">

                                <label for="id_password" class="required">Key</label>
                                 <input type="password" name="key" required id="id_password">
                            </div>


                            <div class="submit-row">
                                <input type="submit" value="Enter">
                            </div>
                        </form>

                        {% if messages %}
                        <ul class="messages d-flex flex-column justify-content-center align-items-center">
                            {% for message in messages %}
                            <p {% if message.tags %} class="w-100 pl-3 mx-auto alert-{{ message.tags }}" {% endif %}> {{ message }} </p>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </div>


                    <br class="clear">
                </div>
                <!-- END Content -->
                <div id="footer"></div>
            </div>
        </div>
    </div>
    <!-- END Container -->
</body>

</html>