{% extends "base/homeBase.html" %}
{% block title %}
Settings
{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="d-flex justify-content-between ">
        <a class="btn btn-success my-2 " href="{%url 'mainprofile' %}">Back</a>
        <h1>Settings</h1>
    </div>
</div>

<div class=" row justify-content-lg-around m-5">
    <div class="card col-md-4 my-5 btn" style="border: solid 2px #000;">
        <a  href="{%url 'changepassword' %}">
        <div class="card-body">
            <div>
                <div class=" btn text-center text-secondary m-1">Change Password</div>
            </div>
        </div>
    </a>
    </div>
    <div class="card my-5 col-md-4 btn" style="border: solid 2px #000;">
        <a  href="#">
        <div class="card-body">
            <div>
                <div class=" btn text-center text-secondary m-1">Policy</div>
            </div>
        </div>
    </a>
    </div>
</div>
{% endblock %}