{% extends "base/base.html"%}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %}
<!-- <div>
    <div class="p1">
        <h1>Heading</h1>
    </div>
    <div class="p2">
        <h1>Hello {{ form.name }}</h1>
        <button class="btn btn-danger Profile col-lg-3">Profile</button>
        <a href="{% url 'mainprofile' %} "> <button class="btn btn-danger Edit col-lg-3">Edit</button></a>
        <a href="{% url 'logout' %} "> <button class="btn btn-danger logout col-lg-3">Logout</button></a>
    </div>
    {% if messages %}
    <ul class="messages d-flex flex-column justify-content-center align-items-center">
        {% for message in messages %}
        <p {% if message.tags %} class="w-100 pl-3 mx-auto alert-{{ message.tags }}" {% endif %}> {{ message }} </p>
        {% endfor %}
    </ul>
    {% endif %}
</div> -->
<div class="container h-100 gradient-design" >
    <div class="row h-100">
      <div class="col-md-12 d-sm-block" style=" align-items: center;"><div class=" row justify-content-lg-around m-5"><h1>Welcome {{ form.name }}</h1></div></div>
          <div class="col-md-12 d-lg-flex py-5 w-100 d-sm-block " style="height: 75vh;">
              <!-- <div class="container px-4"> -->
                <div class="row gx-5 w-100 mx-auto my-lg-5">
                  <div class="col m-3">
                    <div class="p-3 btn btn-light w-100"><a href="{%url 'facultymainprofile' %}" style="display: block;">
                        <div class="card-body w-100 h-100" style="text-align: center;">
                          <div class="btn text-center text-primary m-1">Profile Manager</div>
                        </div>
                      </a></div>
                  </div>
                  <!-- <div class="col text-center h-75">
                    <div class="p-3 h-100">
                      <a class="btn btn-outline-light w-100 h-100 " href="{%url 'mainprofile' %}">Profile Manager</a>
                    </div>
                  </div>
                  <div class="col text-center h-75">
                    <div class="p-3 h-100">
                      <a class="btn btn-outline-light w-100 h-100 " href="#">Attendance</a>
                    </div>
                  </div>
                  <div class="col text-center h-75">
                    <div class="p-3 h-100">
                      <a class="btn btn-outline-light w-100 h-100 " href="#">Feedback</a>
                    </div>
                  </div>                  -->


                  <!-- <div class="col m-3">
                    <div class="p-3 btn btn-light w-100"><a href="#" style="display: block;">
                        <div class="card-body " style="text-align: center;">
                          <div class="btn text-center text-primary  m-1 ">Attendance</div>
                        </div>
                      </a></div>
                  </div> -->


                  <div class="col m-3">
                    <div class="p-3 btn btn-light w-100"><a href="#" style="display: block;">
                        <div class="card-body w-100 h-100" style="text-align: center;">
                          <div class="btn text-center text-primary m-1">Feedback</div>
                        </div>
                      </a></div>
                  </div>
                  </div>
                </div>
                <div class="d-flex w-100">
                    {% if messages %}
                    <!-- <ul class="messages justify-content-start"> -->
                        {% for message in messages %}
                        <p {% if message.tags %} class="w-50 h-100 pl-3 mx-auto alert-{{ message.tags }}" style="text-align: center;" {% endif %}> {{ message }} </p>
                        {% endfor %}
                    <!-- </ul> -->
                    {% endif %}
                </div>
              <!-- </div> -->
              <div class="d-flex w-100  mr-3 mb-3 justify-content-end">
                  <a class="btn btn-outline-light " href="{%url 'facultylogout'%}" role="button">LogOut</a>&nbsp;&nbsp;
                  <a class="btn btn-outline-light " href="{%url 'setting'%}" role="button">Settings</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  
{% endblock content %}

