.p1{
    text-align: center;
    height: 40%;
    color: white;
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
     background: -webkit-linear-gradient(225deg,#c31432,#240b36);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(225deg,#c31432,#240b36);
}

.p2{
    height: 100%;
}
