{% extends "base/homeBase.html" %}

{% block title %}
Additionals
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="d-flex justify-content-between ">
        <h1>Additionals Page</h1>
        <a class="btn btn-success my-2 " href="{%url 'additionaledit' %}">Add</a>
    </div>
</div>


{% if form|length > 0 %}



<div class="col col-md-6 my-4 mx-auto">
    <div class="card w-100">
        <div class="card-header">
            <h3>Scholarship</h3>
        </div>
        <div class="card-body">
        {% for exp,val in form.items %}
          <p>
            {{exp}}:{{val}}
          </p>
        {% endfor %}
        </div>
    </div>
</div>
{%else%}

<h1 class="text-center"> No Items found </h1>

{%endif%}

{% endblock %}

