


{% extends "base/homeBase.html" %}
{% block title %}
Experience
{% endblock %}
{% block content %}
{% with form=form name="Experience" url="experience" %}
{% include 'base/baseForDisplay.html' %}
{% endwith %}
{% endblock %}













{% block scripts %}



<!-- document.addEventListener('click', function(event) {
if (event.target.classList.contains('delete-button')) {
event.preventDefault();
const pk = event.target.dataset.pk;
deleteEntry(pk);
}
});

async function deleteEntry(pk) {
const response = await fetch(`/delete-entry/${pk}`);
const data = await response.json();
if (data.success) {

} else {

}
} -->


{%endblock%}